<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/my_style.css">
<div class="img_position">
   <img class="mountainPic" src="img/random-mountain-pic.jpg";>
   <div class="welcome">
   <% heroText.each do |item|%>
    <% if item != heroText.last %>
        <%= item %><br>
    <% else %>
        <%= item %>
    <% end %>
   <% end %>
   </div>
</div>
<div class="assessment"><%= subHeroText %></div>
<hr class="greyHr">
<hr class="dGreyHr">
<hr class="dBlueHr">
<div class="cardContainer">
   <hr class="ltBlueHr">
   <div class="largeCard">
      <div class="lrgWhteText whtText"><%= mainCardTitle %></div>
      <div class="smWhteText whtText"><%= mainCardText %><br><%= mainCardText2 %><br><br>
         <a class="whtLink" href="<%= mainLink %>" target="_blank"><%= mainCardLink %></a> <%= mainCardText3 %>
      </div>
      <div class="whtText alignRight">I want to see: 
      <% counter = 1 %>
        <% animals.each do |animal| %>
            <input type="checkbox" id="<%= animal %>" name="<%= animal.downcase %>" value="t" onclick="checkState(this)"> <%= animal %>
            <% counter += 1 %>
        <% end %>
      </div>
      <% whtCardInfo.each do |animal|%>
         <% if animal[0] == "cat.png" %>
         <div class="whtCrdContainerCat" name="whtCrdContainerCat">
            <div class="whiteCardImgContainerCat"><img class="whiteCardImgCat" src="img/<%=animal[0] %>";></div>
            <div class="bold blueText">This is card <%=animal[1] %></div>
            <div class="blueText blueTextSmall marginWhtCrd"><%=animal[2] %></div>
            <div class="blueText blueTextSmall clickAndGo"><a class="blueText" target="_blank" href="<%=animal[3] %>">Click and Go!</a></div>
         </div>
         <% else %>
         <div class="whtCrdContainerBird" name="whtCrdContainerBird">
            <div class="whiteCardImgContainerBird"><img class="whiteCardImgBird" src="img/<%=animal[0] %>";></div>
            <div class="bold blueText">This is card <%=animal[1] %></div>
            <div class="blueText blueTextSmall marginWhtCrd"><%=animal[2] %></div>
            <div class="blueText blueTextSmall clickAndGo"><a class="blueText" target="_blank" href="<%=animal[3] %>">Click and Go!</a></div>
         </div>
         <% end %>
      <% end %>
   </div>
</div>
<div class="constPanel">
   <div class="constH1"><%= constTitle %></div>
   <div class="constText">
      <% constCont.each do |cont| %>
      <p><%= cont %></p>
      <% end %>
   </div>
   <hr class="hrThin">
   <div class="constText listCont">
      <div class="listH1"><%= thingTitle %></div>
      <ul>
      <% thingCont.each do |thing| %>
         <li><%= thing %></li>
      <% end %>
      </ul>
      <hr class="hrThin">
      <div class="listH1"><%= duckTitle %></div>
      <% duckCont.each do |duck| %>
         <p><%= duck %></p>
      <% end %>
      <hr class="hrThin">
      <div class="listH1"><%= pictureTitle %></div>
      <div class="thingCont">
         <img class="things" src="img/<%= thingImg %>";>
         <p class="thingsText"><%= thingsCont %></p>
      </div>
   </div>
</div>
<hr class="greyHr thinHr">
<hr class="dBlueHr">
<script>
var catsElements = document.getElementsByName("whtCrdContainerCat");
var birdsElements = document.getElementsByName("whtCrdContainerBird");

function checkState(item) {
   var catCheckState = document.getElementById("Cats").checked;
   var birdCheckState = document.getElementById("Birds").checked;
   
   if(document.getElementById("Cats").checked == true && document.getElementById("Birds").checked == true) {
      catsElements.forEach(function(element) {
         element.style.display = "block";
      });
      birdsElements.forEach(function(element) {
         element.style.display = "block";
      });
      document.getElementById("Cats").checked = false;
      document.getElementById("Birds").checked = false;
   } else if(item.id == "Birds") {
      onlyBirds();
   } else {
      onlyCats();
   }
}

function onlyBirds() {
   var birdCheckState = document.getElementById("Birds").checked;
   if(birdCheckState == true) {
      catsElements.forEach(function(element) {
         element.style.display = "none";
      });
   } else {
      catsElements.forEach(function(element) {
         element.style.display = "block";
      });
   }
}

function onlyCats() {
   var catCheckState = document.getElementById("Cats").checked;
   if(catCheckState == true) {
      birdsElements.forEach(function(element) {
         element.style.display = "none";
      });
   } else {
      birdsElements.forEach(function(element) {
         element.style.display = "block";
      });
   }
}


        </script>